@charset "uft-8";
@import url(http://fonts.googleapis.com/earlyaccess/khyay.css);

html,body{
  height:100vh;
  margin:0;
  padding:0;
  overflow: hidden;
  background: #fff;
}
.wrap{
  display: flex;
  flex-direction: column;
  height:100%;
}
.top{
  background: #4682B4;
  text-align:center;
  padding:20px;
}
.top span{
  display: block;
  color:#fff;
}
.top span:first-child,
.top span:last-child{
  font-size:18px;
  font-weight:normal;
}
.bottom{
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  background: #181818;
  color:#fff;
}
.game-center {
  flex-grow: 1;
  display: flex;
  align-items: center;
}
.boxes{
}
.box {
  width:50px;
  height:50px;
  border-radius: 50%;
  margin-right:30px;
  justify-content: center;
}

